<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <NuGetPath>packages\NuGet.CommandLine.2.8.1\tools</NuGetPath>
    <NuGetPackageDependencyRoot>BitcoinLib</NuGetPackageDependencyRoot>
  </PropertyGroup>
  <ItemGroup>
    <BuildOutput Include="CoinWrapper\bin\Release\BitcoinLib.dll" />
  </ItemGroup>
  <ItemGroup>
    <ProjectToBuild Include="*.sln" />
  </ItemGroup>
</Project>
