<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <!--  BitcoinLib settings start -->
    <add key="DaemonUrl" value="http://localhost.:8332" />
    <add key="TestNetDaemonUrl" value="http://localhost.:18332" />
    <add key="UseTestNet" value="false" />
    <add key="WalletPassword" value="MyWalletPassword" />
    <add key="ExtractMyPrivateKeys" value="false" />
    <add key="RpcUsername" value="myRpcUsername" />
    <add key="RpcPassword" value="myRpcPassword" />
    <add key="RpcRequestTimeoutInSeconds" value="10" />
    <add key="RpcResendTimedOutRequests" value="true" />
    <add key="RpcTimedOutRequestsResendAttempts" value="10" />
    <add key="RpcDelayResendingTimedOutRequests" value="true" />
    <add key="RpcUseBase2ExponentialDelaysWhenResendingTimedOutRequests" value="true" />
    <!--  BitcoinLib settings end -->

  </appSettings>
</configuration>