@model dynamic

@{
    ViewBag.Title = "Bitcoin C# wrapper test web client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <h1>@ViewBag.Title</h1>

    <div id="step1" class="stepBackground">
        <div class="row">
            <div class="span4">
                <h2>1. Step: Connect to Bitcoin Daemon</h2>
                <input id="confirmStepOneBtn" value="Check connnection" type="button" class="btn-large btn-primary" />
            </div>
            <div class="span4 offset2">
            </div>
        </div>
    </div>

    <div id="step2" style="display: none;" class="stepBackground">
        <h2>2. Step: Different functions with Bitcoin</h2>
        <div class="row bitFunction">
            <div class="span4">
                <h2>Get balance</h2>
                <input id="getBalanceBtn" class="btn-large btn-primary" type="button" value="Get current balance" /><br />
                Balance:<br />
                <label id="balanceLbl"></label>
            </div>
            <div class="span4 offset2">
                <h2>Info</h2>
                <ul>
                    <li>Retrieves the amount of Bitcoins you have in your wallet, in BTC</li>
                </ul>
            </div>
        </div>

        <div class="row bitFunction">
            <div class="span4">
                <h2>Info about a transaction</h2>
                <input id="infoTransactionTxIdBox" type="text" placeholder="tx id" />
                <input id="getTransactioninfoBtn" class="btn-large btn-primary" type="button" value="Get transaction info" /><br />
                Info about transaction:<br />
                <label id="infoAboutTransactionLbl"></label>
            </div>
            <div class="span4 offset2">
                <h2>Info</h2>
                <ul>
                    <li>Retrieves information on a transaction</li>
                </ul>
            </div>
        </div>

        <div class="row bitFunction">
            <div class="span4">
                <h2>Get information about a block </h2>
                <input id="blockInfoBox" type="text" placeholder="block hash id" />
                <input id="submitBlockInfoBtn" class="btn-large btn-primary" type="button" value="Get block info" /><br />
                Info about block:<br />
                <label id="infoAboutBlockLbl"></label>
            </div>
            <div class="span4 offset2">
                <h2>Info</h2>
                <ul>
                    <li>Finds the amount of transactions in a block</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var step1 = $('#step1');
        var step2 = $('#step2');

        $('#getBalanceBtn').click(function () {
            $.ajax({
                type: "GET",
                url: "/Home/GetBalanceInWallet",
                success: function (data) {
                    $('#balanceLbl').addClass('text-success').text(data);
                },
                error: function () {
                    $('#balanceLbl').addClass('text-error').text('Problem getting data');
                }
            });
        });

        $('#submitBlockInfoBtn').click(function() {
            var blockHash = $('#blockInfoBox').val();

            if (blockHash) {
                $.ajax({
                    type: "GET",
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    data: { blockhashId: blockHash },
                    url: "/Home/GetBlockInfo",
                    success: function (data) {
                        $('#infoAboutBlockLbl').addClass('text-success').text('Amount of transactions in block: ' + data.Tx.length);
                    }
                });
            } else {
                $('#infoAboutBlockLbl').addClass('text-error').text('You need to enter a transaction id');
            }
        });

        $('#getTransactioninfoBtn').click(function () {
            var txId = $('#infoTransactionTxIdBox').val();

            if (txId) {
                $.ajax({
                    type: "GET",
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    data: { txid: txId },
                    url: "/Home/GetInformationAboutTransaction",
                    success: function (data)
                    {
                        $('#infoAboutTransactionLbl').addClass('text-success').text('Amount transfered: ' + data.Vout[0].Value);
                    }
                });
            } else {
                $('#infoAboutTransactionLbl').addClass('text-error').text('You need to enter a transaction id');
            }
        });

        $('#confirmStepOneBtn').click(function () {
            $.ajax({
                type: "GET",
                url: "/Home/GetBalanceInWallet",
                success: function () {
                    alert('Connection works and we are communicating with the Bitcoin daemon');
                    step1.hide();
                    step2.show(450);
                },
                error: function (data) {
                    alert('Error. We cannot communicate with the Bitcoin daemon. Error message: ' + data);
                }
            });
        });
    });

</script>
