<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <!--  BitcoinLib settings start -->

    <!-- Shared RPC settings start -->
    <add key="RpcRequestTimeoutInSeconds" value="60" />
    <!-- Shared RPC settings end -->

    <!-- Bitcoin settings start -->
    <add key="Bitcoin_DaemonUrl" value="http://localhost:8332" />
    <add key="Bitcoin_DaemonUrl_Testnet" value="http://localhost:18332" />
    <add key="Bitcoin_WalletPassword" value="MyWalletPassword" />
    <add key="Bitcoin_RpcUsername" value="MyRpcUsername" />
    <add key="Bitcoin_RpcPassword" value="MyRpcPassword" />
    <!-- Bitcoin settings end -->

    <!-- Litecoin settings start -->
    <add key="Litecoin_DaemonUrl" value="http://localhost:9332" />
    <add key="Litecoin_DaemonUrl_Testnet" value="http://localhost:19332" />
    <add key="Litecoin_WalletPassword" value="MyWalletPassword" />
    <add key="Litecoin_RpcUsername" value="MyRpcUsername" />
    <add key="Litecoin_RpcPassword" value="MyRpcPassword" />
    <!-- Litecoin settings end -->

    <!-- Dogecoin settings start -->
    <add key="Dogecoin_DaemonUrl" value="http://localhost:22555" />
    <add key="Dogecoin_DaemonUrl_Testnet" value="http://localhost:44555" />
    <add key="Dogecoin_WalletPassword" value="MyWalletPassword" />
    <add key="Dogecoin_RpcUsername" value="MyRpcUsername" />
    <add key="Dogecoin_RpcPassword" value="MyRpcPassword" />
    <!-- Dogecoin settings end -->

    <!-- Sarcoin settings start -->
    <add key="Sarcoin_DaemonUrl" value="http://localhost:25901" />
    <add key="Sarcoin_DaemonUrl_Testnet" value="http://localhost:36523" />
    <add key="Sarcoin_WalletPassword" value="MyWalletPassword" />
    <add key="Sarcoin_RpcUsername" value="MyRpcUsername" />
    <add key="Sarcoin_RpcPassword" value="MyRpcPassword" />
    <!-- Sarcoin settings end -->

    <!-- Dash settings start -->
    <add key="Dash_DaemonUrl" value="http://localhost:9998" />
    <add key="Dash_DaemonUrl_Testnet" value="http://localhost:19998" />
    <add key="Dash_WalletPassword" value="MyWalletPassword" />
    <add key="Dash_RpcUsername" value="MyRpcUsername" />
    <add key="Dash_RpcPassword" value="MyRpcPassword" />
    <!-- Dash settings end -->

    <!-- Demo client settings start -->
    <add key="ExtractMyPrivateKeys" value="false" />
    <!-- Demo client settings end -->

    <!--  BitcoinLib settings end -->

  </appSettings>
</configuration>